/**
 * Default Variables.
 */
/** Color palette **/
/** Color **/
/** Font **/
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap&subset=cyrillic,cyrillic-ext");
/** Shadow **/
/** Border **/
/** Mixin **/
html {
  font-size: 14px; }

body {
  background-color: #fff;
  color: #555;
  font-family: Arial, Helvetica, sans-serif; }

.live-diagram {
  margin: 200px auto 0;
  width: 1000px; }
  .live-diagram .diagram-disk {
    background-color: transparent;
    background-image: radial-gradient(closest-side, transparent, transparent 50%, rgba(255, 255, 255, 0.12) 70%, rgba(255, 255, 255, 0.4)), conic-gradient(from 270deg, #ff811f 45deg, #9000d8 45deg 135deg, #0d77cd 135deg 180deg, transparent 180deg);
    border-radius: 50%;
    height: 816px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 816px; }
    .live-diagram .diagram-disk .outer-sector {
      border-radius: 50% / 43%;
      height: 440px;
      left: 119px;
      margin: 0 auto;
      overflow: hidden;
      position: absolute;
      top: 50%;
      transform: rotateZ(137.35deg);
      transform-origin: top center;
      width: 578px; }
      .live-diagram .diagram-disk .outer-sector::after {
        background-color: #ee5bbc;
        background-image: linear-gradient(310deg, #ee5bbc 0%, #ee5bbc 60%, #ff3786 80%, #ff3786 100%);
        border-left: 2px solid rgba(255, 255, 255, 0.45);
        border-top: 2px solid rgba(255, 255, 255, 0.45);
        box-shadow: -40px -50px 30px -40px rgba(0, 0, 0, 0.5);
        content: '';
        height: 408px;
        left: 84px;
        position: absolute;
        top: 216px;
        transform: rotate(45deg) skew(24.5deg, 24.5deg);
        width: 408px; }
      .live-diagram .diagram-disk .outer-sector .outer-sector_edge {
        border-top: 32px solid #9b106f;
        border-image: linear-gradient(to top, #9b106f, #fd4169);
        height: 0;
        position: absolute;
        transform-origin: bottom right;
        width: 0; }
        .live-diagram .diagram-disk .outer-sector .outer-sector_edge:first-child {
          border-left: 18px solid #fd4169;
          clip-path: polygon(0 0, 100% 0, 0 100%);
          left: 442px;
          top: 373px;
          transform: rotateZ(-21deg); }
        .live-diagram .diagram-disk .outer-sector .outer-sector_edge:nth-child(2) {
          border-right: 18px solid #fd4169;
          clip-path: polygon(0 0, 100% 0, 100% 100%);
          left: 117px;
          top: 379px;
          transform: rotateZ(21deg); }
      .live-diagram .diagram-disk .outer-sector:first-child {
        z-index: 2; }
      .live-diagram .diagram-disk .outer-sector:nth-child(2) {
        height: 434px;
        transform: rotateZ(224.75deg);
        z-index: 1; }
        .live-diagram .diagram-disk .outer-sector:nth-child(2)::after {
          background-image: linear-gradient(310deg, #9dce46 0%, #9dce46 60%, #7bcc62 80%, #7bcc62 100%);
          top: 257px;
          transform: rotate(45deg) skew(30.75deg, 30.75deg); }
        .live-diagram .diagram-disk .outer-sector:nth-child(2) .outer-sector_edge {
          border-top: 27px solid #158127;
          border-image: linear-gradient(to top, #158127, #a0d33d);
          transform-origin: bottom left; }
          .live-diagram .diagram-disk .outer-sector:nth-child(2) .outer-sector_edge:first-child {
            border-left: 15px solid #a0d33d;
            clip-path: polygon(0 0, 100% 0, 0 100%);
            left: 396px;
            top: 394px;
            transform: rotateZ(-15deg); }
          .live-diagram .diagram-disk .outer-sector:nth-child(2) .outer-sector_edge:nth-child(2) {
            border-right: 15px solid #a0d33d;
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            left: 168px;
            top: 390px;
            transform: rotateZ(15deg); }
    .live-diagram .diagram-disk .central-disk {
      background-color: transparent;
      background-image: radial-gradient(closest-side, #dbd8ed, #dbd8ed calc(50% - 8px), #aba8c1 50%, transparent calc(50% + 1px), transparent), linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.35) 15%, rgba(255, 255, 255, 0.15) 25%, transparent 35%, rgba(0, 0, 0, 0.15) 50%, transparent 50%, transparent), linear-gradient(to bottom, transparent, transparent calc(50% - 10px), rgba(0, 0, 0, 0.3) 50%, transparent 50%, transparent), radial-gradient(closest-side, #dbd8ed, rgba(255, 255, 255, 0.8) calc(50% + 1px), rgba(255, 255, 255, 0.8) calc(50% + 7px), rgba(255, 255, 255, 0.1) calc(50% + 8px), rgba(255, 255, 255, 0.15) calc(100% - 6px), transparent calc(100% - 5px), transparent);
      border-radius: 50%;
      height: 508px;
      left: calc(50% - 508px / 2);
      position: absolute;
      top: calc(50% - 508px / 2);
      width: 508px;
      z-index: 10; }
    .live-diagram .diagram-disk .bottom-shield {
      background-color: #fff;
      box-shadow: 0 -14px 12px -16px rgba(0, 0, 0, 0.25);
      height: calc(816px / 2);
      left: -48px;
      position: absolute;
      top: 50%;
      width: calc(100% + 48px * 2);
      z-index: 9; }
      .live-diagram .diagram-disk .bottom-shield::before {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.25) 8px, transparent 8px, transparent);
        border-radius: 50% / 12px;
        box-shadow: 0 -6px 8px -8px rgba(0, 0, 0, 0.5);
        content: '';
        display: block;
        height: 24px;
        left: calc(48px + 3px);
        top: -8px;
        position: absolute;
        width: calc(100% - 48px * 2 - 6px); }

/*# sourceMappingURL=style.css.map */
